<header class="login-header">
		<section class="container">
			<div class="row text-center">
				<div class="col-md-12 login-header">
					<a href="javascript:void(0)"><img src="assets/images/logo.png" alt="Logo" class="img-responsive"/></a>	
					<p>Who said money can't buy happiness</p>
				  </div>
			</div>
		</section> 		
</header>
<alert-flash></alert-flash>
<div class="container login-container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<h2>Login</h2>							
				<div class="login-wrap">				
					<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="form-horizontal" novalidate>
						<div class="form-group">
							<div class="col-xs-12">							  
                              <input type="email" class="form-control" name="username" (blur)="validateEmailId()" placeholder="emailid@domain.com" [(ngModel)]="model.username" #username="ngModel" required />
                              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12"> 
							  <input type="password" class="form-control" name="password" (blur)="validatePasswordLength()" [(ngModel)]="model.password" #password="ngModel" placeholder="Enter Password" required />
                  <div *ngIf="f.submitted && !password.valid" class="help-block error">Password is required</div>
									<div *ngIf="model.passwordLengthError" class="help-block error">Password length should be between 6 to 12 characters</div>
							</div>
						</div>
						<div class="form-group"> 
							<div class="col-xs-12 text-right">
							  <p><a href="javascript:void(0)">Forgot Password?</a></p>
							</div>
						</div>
						<div class="form-group"> 
							<div class="col-xs-12 button-wrap text-center">
							 <button type="submit" class="btn btn-default primary-action-btn">Submit</button>
							</div>
						</div>
						<div class="form-group"> 
							<div class="col-xs-12 text-center">
							  <p>Don't Have Account Yet? <a href="javascript:void(0)">Sign Up</a> Now</p>
							</div>
						</div>
					</form>				
					<div class="login-footer">
						<div class="row text-center">
							<div class="col-md-12">
								<p>Are You Vendor? Click Here To <a href="javascript:void(0)">Register</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>